apiVersion: apps/v1
kind: Deployment
metadata:
  name: room-services
spec:
  selector:
      matchLabels:
        app: room-services
  replicas: 3
  template:
    metadata:
      labels:
        app: room-services
    spec:
      containers:
        - name: room-services
          image: freddybendezu/room-services
          imagePullPolicy: Never
          ports:
            - containerPort: 8001